*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'arial';
}

.navbar{
    background-color: #ffff;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #dadada;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: #1F0060;
    margin-right: 1.5rem;
    cursor: pointer;
    font-size: 20px;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.menu-button{
    display: none;
}

header{
    background-image: radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    }
    
.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
    
.header-bottom-side-left button{
    background-color: #1F0060;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #ffff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button{
    background-color: #321374;
}

.header-bottom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-menu nav{
    display: block;
}
/* Media Queries */

@media (max-width: 800px){

    .menu-button{
        display: block;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: #ffff;
        width: 100%;
        top: 46px;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
} 

/*carrinho*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    margin-top: 30px;
    width: 95%;
    height: 600px;
    border: #1F0060 solid 2px;
    gap: 10px;
}

.produtos{
    width: 80%;
    height: 150px;
    display: flex;
    border: #1F0060 solid 2px;
    align-items: center;
    text-align: center;
}

.linha{
    display: flex;
    text-align: center;
    gap: 20px;
}

.cart-adicional{
    background-color: #1F0060;
    width: 20%;
    height: 100%;
    border: #1F0060 solid 2px;
}