<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Store</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="navbar">
        <div class="">
            <img class="logo" src="../src/logo.png" alt="">
            <nav>
                <ul>
                    <li>Produtos</li>
                    <li>Minha Conta</li>
                    <li>Sobre nós</li>
                    <li>Contato</li>
                </ul>
            </nav>
            <div class="nav-icon-container">
                <a href="carrinho.html"><img src="../src/carrinho-icon.png" alt=""></a>
                <img src="../src/mais.png" class="menu-button">
            </div>
        </div>
    </div>
    <main>
        <div class="container">
                <div class="produtos">
                    
                    <img class="img-produto" src="../src/kumara.png" alt="">
                <div class="linha">
                    <p>Teclado</p>
                    input
                    <p>Preço</p>
                </div>
            </div>
                <div class="cart-adicional">
                    <header>Resumo da compra</header>
            <div class="info">
              <div><span>Sub-total</span><span>R$ 418</span></div>
              <div><span>Frete</span><span>Gratuito</span></div>
              <div>
                <button>
                  Adicionar cupom de desconto
                  <i class="bx bx-right-arrow-alt"></i>
                </button>
              </div>
            </div>
            <footer>
              <span>Total</span>
              <span>R$ 418</span>
            </footer>
          </div>
          <button>Finalizar Compra</button>
                
                
        </div>
    </main>
</body>