<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Store</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head
<body>
    <header class="header">
        <nav class="header-menu">
            <div class="burguer--icon">
            <img src="../src/logo.png" alt="">
            </div>
            <div class="search--box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Pesquisar">
            </div>
            <div class="menu--icons">
               
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>0</span>
                </div>
            </div>
        </nav>
    </header>

    <section class="container">
        <div class="form">
            <input type="text">
            <h1>Finalize sua Compra</h1>
            <span class="slogan">Melhore seu setup</span>

        </div>
    </section>
</body>
</html>