<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Store</title>
    <link rel="stylesheet" href="../public/css/carrinho.css">
</head>
<body>
    <div class="navbar">
        <div class="">
            <img class="logo" src="../src/logo.png" alt="">
            <nav>
                <ul>
                    <li>Produtos</li>
                    <li>Minha Conta</li>
                    <li>Contato</li>
                    <li>Sobre nós</li>
                </ul>
            </nav>
            <div class="nav-icon-container">
                <a href="carrinho.html"><img src="../src/carrinho-icon.png" alt=""></a>
                <img src="../src/mais.png" class="menu-button">
            </div>
        </div>
    </div>
    <header>
        <div class="header-inner-content">
            <div class="header-bottom-side">
                <div class="header-bottom-side-left">
                    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae qui vero quas necessitatibus, tempora omnis ratione, ad, labore deleniti veniam ipsum nisi nihil saepe delectus ipsam quidem placeat. Eligendi, qui.</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus ipsa facere repudiandae quidem rerum, consequatur eaque! Excepturi, ullam et optio voluptate delectus commodi iusto sit recusandae, maxime a hic iste!
                    </p>
                    <button>Ver Agora &#8594;</button>
                </div>
                <div class="header-bottom-side-right"></div>
            </div>
        </div>
    </header>   

    <script>
        const navbar = document.querySelector(".navbar");
        const menuButton = document.querySelector(".menu-button");

        menuButton.addEventListener('click', () => {
            navbar.classList.toggle("show-menu");

        })
    </script>
</body>
</html>